.chatLinkWrapper {
    width: 40%;
}
.chatLink {
    text-align: center;
    background-color: #5682a3;
    border-radius: 5px;
    color: #fff!important;
    padding: 0.5rem!important;
}

.headerWrapper {
    display: flex;
    justify-content: space-around;
}

.addBtn {
    width: 40%;
    border-radius: 5px;
    padding: 0.5rem!important;
    font-size: 1.28571429em!important;
}