.mainWrapper {
    width: 760px;
    margin: 0 auto;
    height: 100vh;
    box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
}
.contentWrapper {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.usersLinkWrapper {
    margin: 0.5rem 0;
}
.usersLink {
    text-align: center;
    background-color: #5682a3;
    border-radius: 5px;
    color: #fff!important;
    padding: 0.5rem!important;
}