.mainHeader {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: #5682a3;
    color: #fff;
}

.chatInfoList {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chatName {
    margin: 0;
    margin-right: 1.5rem;
}

.chatInfoItem {
    color: #b9cfe3;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.chatInfoItem:last-child {
    margin-left: auto;
}